@import url("https://fonts.googleapis.com/css2?family=Ranchers&display=swap");

.Comic--card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(33, 148, 129);
  font-family: "Ranchers", cursive;
  font-size: 1.2rem;
  box-shadow: 0 0 50px 0 rgba(31, 215, 134, 0.3);
}

.Comic--card img {
  max-height: 450px;
  max-width: 100%;
  object-fit: contain;
}
